.header {
  background: var(--gray-700);
  height: 12.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;

  line-height: 3.5rem;
  font-size: 2.5rem;
  font-weight: 800;
}

.header img {
  width: 1.375rem;
  height: 2.25rem;
  position: relative;
  top: 0.25rem;
}

.prefix {
  color: var(--blue-100);
}

.suffix {
  color: var(--purple-500);
}

