.newTask {
  display: flex;
  gap: 0.5rem;
}

.newTask input {
  border-radius: 8px;
  max-width: 39.875rem;
  width: 100%;
  border: 1.5px solid var(--gray-700);
  padding: 0 1rem;
  height: 3.375rem;
  background: var(--gray-500);
  color: var(--gray-100);
}

.newTask input::placeholder {
  color: var(--gray-300);
}

.newTask input:focus {
  outline-style: solid;
  outline-color: var(--purple-500);
}

.newTask input:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.newTask button {
  font-size: 0.875rem;
  font-weight: bold;
  border: 0;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  height: 3.25rem;
  color: var(--gray-100);
  background: var(--blue-500);
  padding: 0 1rem;
  border-radius: 8px;
  cursor: pointer;
}

.newTask button:hover:not(:disabled) {
  background: var(--blue-100);
}

.newTask button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

